name: Suma numeros

on:
  push:
    branches:
      - feature/*
  pull_request:
    types: [opened, synchronize, reopened]

env:
  num1: ${{ vars.NUM1 }}
  num2: ${{ vars.NUM2 }}

jobs:
  suma:
    name: Calcular suma
    runs-on: ubuntu-latest
    outputs:
      resultado: ${{ steps.calc.outputs.suma }}
    steps:
      - name: Calcular suma con variables de entorno
        id: calc
        run: |
          echo "Número 1: $num1"
          echo "Número 2: $num2"
          suma=$((num1 + num2))
          echo "Suma: $suma"
          echo "suma=$suma" >> $GITHUB_OUTPUT

  evaluacion:
    name: Evaluar resultado
    runs-on: ubuntu-latest
    needs: suma
    steps:
      - name: suma es mayor a 10
        if: ${{ needs.suma.outputs.resultado > 10 }}
        run: echo " La suma es mayor a 10"

      - name: suma es igual a 10
        if: ${{ needs.suma.outputs.resultado == 10 }}
        run: echo "La suma es igual a 10"

      - name: suma es menor a 10
        if: ${{ needs.suma.outputs.resultado < 10 }}
        run: echo "La suma es menor a 10"