name: Suma numeros

on:
  push:
    branches:
      - feature/*
  schedule:
    - cron: "35 14 * * 4"  # 9:35 a. m. en Colombia (UTC-5)

jobs:
  integration-api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Sumar dos números en bash
        shell: bash
        run: |
          num1=5
          num2=30
          suma=$((num1 + num2))
          echo "La suma de $num1 + $num2 es: $suma"
